.animate-link{
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.animate-link::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: #fff;
    transition: width .3s;
}

.animate-link:hover::after {
    width: 100%;
}